dataset/VBD/train/clean/*
dataset/VBD/train/noise/*
dataset/VBD/train/noisy/*
dataset/VBD/train2/clean/*
dataset/VBD/train2/noise/*
dataset/VBD/train2/noisy/*
dataset/VBD/valid/clean/*
dataset/VBD/valid/noise/*
dataset/VBD/valid/noisy/*
dataset/VBD/valid2/clean/*
dataset/VBD/valid2/noise/*
dataset/VBD/valid2/noisy/*

!dataset/VBD/train/clean/p226_001.wav
!dataset/VBD/train/noise/p226_001.wav
!dataset/VBD/train/noisy/p226_001.wav

dataset/VBD_SNR-5/train/clean/*
dataset/VBD_SNR-5/train/noise/*
dataset/VBD_SNR-5/train/noisy/*
dataset/VBD_SNR-5/train2/clean/*
dataset/VBD_SNR-5/train2/noise/*
dataset/VBD_SNR-5/train2/noisy/*
dataset/VBD_SNR-5/valid/clean/*
dataset/VBD_SNR-5/valid/noise/*
dataset/VBD_SNR-5/valid/noisy/*
dataset/VBD_SNR-5/valid2/clean/*
dataset/VBD_SNR-5/valid2/noise/*
dataset/VBD_SNR-5/valid2/noisy/*
dataset/VBD_SNR-5/valid/active_rms.ipynb

!dataset/VBD_SNR-5/train/clean/p226_001.wav
!dataset/VBD_SNR-5/train/noise/p226_001.wav
!dataset/VBD_SNR-5/train/noisy/p226_001.wav
!dataset/VBD_SNR-5/train2/clean/p286_001.wav
!dataset/VBD_SNR-5/train2/noise/p286_001.wav
!dataset/VBD_SNR-5/train2/noisy/p286_001.wav
!dataset/VBD_SNR-5/valid/clean/p232_001.wav
!dataset/VBD_SNR-5/valid/noise/p232_001.wav
!dataset/VBD_SNR-5/valid/noisy/p232_001.wav
!dataset/VBD_SNR-5/valid2/clean/p232_001.wav
!dataset/VBD_SNR-5/valid2/noise/p232_001.wav
!dataset/VBD_SNR-5/valid2/noisy/p232_001.wav